/* @import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap'); */

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.martel-sans-semibold {
    font-family: "Martel Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

body{
    background-color: black;
}

.main{
    /* width: 100vw; */ 
    background-image: url("assets/images/bg.jpg");
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    
}
.main .box{
    height: 70vh;
    width: 100%;
    background-color: black;
    opacity: 0.69;
    position: absolute;
    top: 0;
    /* height: 100vh; */
    /* background-color: red; */
    
    
}
nav{
   max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}
nav select {
    position: relative;
    z-index: 20; 
}

nav img{
    color: red;
    width: 120px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    font-family: "Martel Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    height: calc(100% - 62px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    padding: 0 30px;
    gap: 23px;
    /* text-align: center; */

}
.hero> :first-child{
    font-weight: bolder;
    font-size: 48px ;
    text-align: center;
}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.separation{ 
    height: 7px;
    background-color: rgb(46, 44, 44);
}
.btn{
    padding: 8px 13px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.282);
    cursor: pointer;
}
.btn-red{
    width: 200px;
    padding: 15px 12px 15px 12px;
    background-color: red;
    color: white;
    /* padding: 3px 24px; */
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid red;
}
.data{
    width: 100%;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px; 
}
.main input{
    padding: 15px 12px 15px 12px;
    line-height: 1.5;
    width: 300px;
    /* font-weight: 900; */
    font-size: 1rem;
    border-radius: 0.25rem;
    color: white;
    background-color: rgba(23, 23,23, 0.7);
    border: 1px solid rgb(246, 238, 238, 0.7);
}
.btn-red-sm{
    margin: 0px 0px 0px 20px;
    background-color: red;  
    color: white;
    font-weight: normal;
    border: none;
    padding: 7px 18px;
    border-radius: 0.25rem ;
}
.first{
    /* background-color: red;/ */
    max-width: 70vw;
    min-height: 70vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.secImg{
    position: relative;
}
.secImg img{
    width: 30vw;
    position: relative;
    z-index: 10;
    /* background-color: aqua; */
}
.secImg video{
    position: absolute;
    top: 51px;
    right: 0;
    width: 26vw;
}
section.first > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
section.first  > div :nth-child(1){
    font-size: 40px;
    font-weight: bolder;
}
section.first  > div :nth-child(2){
    font-size: 20px;
}

.thirdImg video {
    
    position: absolute;
    top: 40px; 
    right: 80px;
    /*right: 85px;*/
     width: 240px;
    /* align-items: center; */
}
.faq h2{
    text-align: center;
}
.faq{
    background-color: black;
    color: white;
    padding: 4.5rem 0;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.faqbox{
    transition: all 0.2s ease-out;
    background-color:rgb(44, 44, 44);
    display: flex;
    font-size: 22px;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    max-width: 90vw;
    margin: 14px auto;
    cursor: pointer;
}
.faqbox:hover{
    background-color: rgba(128, 128, 128, 0.45); 
}
.faqbox img{
    width: 25px;
    height: 25px;
    color: white;
    filter: invert(1) ;
}
.faq h2{
    margin: 30px;
    font-size: 50px;
}
#hero-data{

    font-size: 20px;
    text-align: center;
    font-weight: normal;
}
.hero2{
    /* margin: 50px; */
    padding: 0 20px;
}
.faqbox-entry{
    padding: 18px;
    background-color: black;
    /* height: 400vh; */
}
.faqbox-entry input{
    padding: 15px 12px 15px 12px;
    line-height: 1.5;
    width: 300px;
    /* font-weight: 900; */
    font-size: 1rem;
    border-radius: 0.25rem;
    color: white;
    background-color: rgba(23, 23,23, 0.7);
    border: 1px solid rgb(246, 238, 238, 0.7);
}
footer{
    margin: 30px 0;
}
.content{
    padding: 0px 30px;
    color: white;
}
.calling{
 display: flex;
 color: rgba(240, 248, 255, 0.595);
 margin: 0px 0px 12px;
}
.calling a{
    color: rgba(240, 248, 255, 0.595);
}
.table{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 22px;
    /* max-width: 60vw; */
}
.item{
    margin: 16px 0px 0px 12px;
    color: aliceblue;
    width: 20.5vw;
}
.item a{
    color: rgba(240, 248, 255, 0.595);
}
.copyright{
    margin: 12px 0px 0px;
    color: rgba(240, 248, 255, 0.595);

}
